.title {
    font-size: 25px;
}

body {
    text-align: center;
}

.card {
    background-color: white;
    border:none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.label {
    font-weight: bold;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.inputWithButton {
  position: relative;
}

.inputWithButton i {
  position: absolute;
  right: 13px;
  top : 16px;
  font-size: 17px;
}

.inputWithButton i:hover {
  cursor: pointer;
}