<!DOCTYPE html>
<html>
    <body>
        <br/>
        <br/>
        <h1>Something went wrong!</h1>
        <h2>Our Engineers are on it!</h2>
        <h2>In the meantime, please don't refresh when you use TrippyTravel.</h2>
        <h2>Thank you!</h2>
        <h2><a href="/">Go back to Home</a></h2>
    </body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
        body { background-color: #FFEEE2;
               text-align:center;
               padding: 10px;}
		h1, h2 {
            font-family: 'Fira Sans Condensed', sans-serif;
        }
    </style>
</html>

